# BFF Basic Auth
BFF_SECURITY_USER_NAME=sample_user
BFF_SECURITY_USER_PASSWORD=change_me

# PostgreSQL
POSTGRES_DB=sample_backend
POSTGRES_USER=sample_user
POSTGRES_PASSWORD=change_me

SAMPLE_BACKEND_DATASOURCE_URL=jdbc:postgresql://postgres:5432/sample_backend
SAMPLE_BATCH_DATASOURCE_URL=jdbc:postgresql://postgres:5432/sample_batch

# RabbitMQ
RABBITMQ_DEFAULT_USER=sample_user
RABBITMQ_DEFAULT_PASS=change_me

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=sample_user
RABBITMQ_PASSWORD=change_me

# SFTP
SFTP_HOST=sftp
SFTP_PORT=22
SFTP_USERNAME=sample_user
SFTP_PASSWORD=change_me
SFTP_REMOTE_DIRECTORY=/upload

# Frontend build args
VITE_GRAPHQL_ENDPOINT=http://localhost:8082/graphql
VITE_BFF_BASIC_AUTH_USERNAME=sample_user
VITE_BFF_BASIC_AUTH_PASSWORD=change_me